    /* fonts */
    
     :root {
        --theme-text: #0D0D0D;
        --theme-background: #F23005;
        --theme-background-two: #0056B3;
        --color-w: #ffffff;
        --color-b: #0D0D0D;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        font-size: 16px;
        scroll-behavior: smooth;
    }
    
    a,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    i,
    span,
    div,
    button {
        overflow: hidden;
    }
    
    html,
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: #ececec;
        scroll-margin-top: 5rem;
    }
    
    a {
        text-decoration: none;
    }
    
    .btn:focus {
        box-shadow: none;
    }
    
    .banner-text {
        font-size: 4vw;
        font-weight: 700;
    }
    
    .bg-grey {
        background: #ececec;
    }
    
    .text-black {
        color: var(--theme-text);
    }
    
    .theme-text {
        color: var(--theme-background);
    }
    
    .theme-text-two {
        color: var(--theme-background-two);
    }
    
    .bg-orange {
        background-color: var(--theme-background);
    }
    
    .bg-blues {
        background-color: var(--theme-background-two);
    }
    
    .form-control:focus {
        box-shadow: none;
    }
    
    .slick-track,
    .slick-list {
        -webkit-perspective: 2000;
        -webkit-backface-visibility: hidden;
    }
    
    .header {
        margin-top: 80px;
    }
    
    #loading {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff url('../img/loader.gif') no-repeat center center;
        z-index: 9999;
    }
    /* banner-section-start */
    
    #banner {
        min-height: 80vh;
        width: 100%;
    }
    
    .banner-content {
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .banner-content button {
        border-radius: 5px;
    }
    
    .fixed {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
        margin-top: 0;
        min-height: 3rem;
        transition: .5s all ease-in-out;
    }
    
    .navbar-dark .navbar-nav .nav-link {
        color: var(--color-w);
    }
    
    .navbar-dark .navbar-nav .nav-link:focus {
        color: var(--theme-background);
    }
    
    .navbar-dark .navbar-nav .nav-link.active,
    .navbar-dark .navbar-nav .show>.nav-link {
        color: var(--theme-background);
        display: inline-block;
    }
    
    .navbar-toggler-icon {
        background-color: transparent;
        padding: 20px;
        border-radius: 5px;
    }
    
    .navbar-toggler {
        border: none;
    }
    
    .navbar-toggler:focus {
        box-shadow: none;
        border: none;
        outline: none;
    }
    
    .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: var(--theme-background);
        display: inline-block;
    }
    
    .m-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container .logo:hover {
        color: #F23005;
    }
    
    @media only screen and (max-width: 992px) {
        .banner-text {
            font-size: 6vw;
            font-weight: 700;
        }
        .navbar-dark .navbar-nav .nav-link.active,
        .navbar-dark .navbar-nav .show>.nav-link {
            color: var(--theme-background);
            display: inline-block;
            width: 100px;
            margin: auto;
        }
        .banner-content {
            min-height: 60vh;
        }
    }
    
    @media only screen and (max-width: 768px) {
        .banner-content {
            min-height: 70vh;
        }
    }
    
    @media only screen and (max-width: 667px) {
        .banner-text {
            font-size: 8vw;
            font-weight: 700;
        }
        .m-icon {
            display: flex;
            justify-content: left;
            align-items: left;
        }
        .c-top {
            padding-left: 25px;
        }
    }
    /* banner-section-end*/
    /* managed-service-section-start */
    
    .managed-service {
        min-height: 50vh;
        width: 100%;
    }
    
    .managed-service-content img {
        height: 150px;
        width: 150px;
        padding: 20px;
    }
    
    .managed-service-content .card {
        background-color: rgba(255, 255, 255, .7);
    }
    /* managed-service-section-end */
    /* about-section-start */
    
    #about {
        min-height: 80vh;
        width: 100%;
    }
    
    .about-content {
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .about-content .read-btn {
        border-radius: 5px;
    }
    
    .aboutimg {
        display: flex;
        justify-content: left;
        align-items: center;
    }
    
    .about-content .accordion-button:not(.collapsed) {
        color: #0c63e4;
        background-color: #e7f1ff;
        box-shadow: none;
    }
    
    .about-content img {
        border-right: 15px solid #0056B3;
        border-bottom: 15px solid #0056B3;
        border-radius: 5px;
    }
    
    @media only screen and (max-width: 1280px) {
        .about-content img {
            margin-top: 30px;
        }
    }
    /* about-section-end */
    /* service-section-start */
    
    #service {
        min-height: 80vh;
        width: 100%;
    }
    
    .service-content {
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .service-content .card {
        background-color: rgba(255, 255, 255, .7);
        border-radius: 5px;
    }
    
    .service-content .card h5 {
        color: var(--color-b);
        opacity: 75%;
    }
    
    .service-content .card p {
        color: var(--color-b);
        opacity: 50%;
    }
    
    .service-content .card:hover {
        background-color: var(--theme-background-two);
        cursor: pointer;
    }
    
    .service-content .card:hover h5 {
        color: var(--color-w);
        opacity: 100%;
    }
    
    .service-content .card:hover p {
        color: var(--color-w);
        opacity: 100%;
    }
    /* service-section-end */
    /* choose-section-start */
    
    .choose {
        min-height: 65vh;
        width: 100%;
    }
    
    .choose img {
        border-radius: 5px;
        height: 500px;
    }
    
    .skills {
        width: 100%;
    }
    
    .skills .skills-content .progress {
        height: 60px;
        display: block;
        background: none;
        border-radius: 0;
    }
    
    .skills .skills-content .progress .skill {
        padding: 10px 0;
        margin: 0 0 6px 0;
        text-transform: capitalize;
        display: block;
        font-weight: 700;
    }
    
    .skills .skills-content .progress .skill .val {
        float: right;
        font-style: normal;
    }
    
    @media only screen and (max-width: 1280px) {
        .choose img {
            margin-top: 25px;
        }
    }
    /* choose-section-end */
    /* team-section-start */
    
    .team {
        min-height: 60vh;
        width: 100%;
    }
    
    .team-content {
        min-height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .team-content .card img {
        border-radius: 50%;
        height: 380px;
        width: 380px;
    }
    
    .team-content .card-body {
        background-color: rgba(0, 86, 179, .1);
    }
    
    .team-content .t-img {
        position: relative;
        z-index: 99;
    }
    
    .team-content .card-body {
        padding-top: 150px;
        position: relative;
        bottom: 130px;
        border-radius: 10px;
    }
    
    .t-img .bg-body {
        --bs-bg-opacity: 1;
        background-color: #ececec!important;
    }
    
    .team-content .card-title {
        color: var(--theme-background-two);
    }
    
    .team-content .card-text {
        color: var(--color-b);
        opacity: 50%;
    }
    
    .team-content .card-body:hover {
        background-color: var(--theme-background-two);
        cursor: pointer;
    }
    
    .team-content .card-body:hover .card-title {
        color: var(--color-w);
    }
    
    .team-content .card-body:hover .card-text {
        color: var(--color-w);
        opacity: 100%;
    }
    
    .team-content .social {
        position: absolute;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 80%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    
    .team-content .card:hover .social {
        top: 80%;
        left: 50%;
        opacity: 1;
    }
    
    .team-content i {
        color: var(--theme-background);
    }
    
    .team-content i:hover {
        cursor: pointer;
        background-color: var(--theme-background-two);
        color: var(--color-w);
        padding: 10px;
        border-radius: 10px;
    }
    
    @media only screen and (max-width: 1024px) {
        .team-content .card img {
            border-radius: 50%;
            height: 325px;
            width: 380px;
        }
    }
    
    @media only screen and (max-width: 992px) {
        .team-content .card img {
            border-radius: 50%;
            height: 380px;
            width: 380px;
        }
    }
    
    @media only screen and (max-width: 600px) {
        .team-content .card img {
            border-radius: 50%;
            height: 350px;
            width: 380px;
        }
    }
    /* team-section-end */
    /* projects-section-start */
    
    #projects {
        min-height: 60vh;
        width: 100%;
        background-color: #ececec;
    }
    
    .projects-content .slick-dots {
        position: relative;
        bottom: -20px;
        display: block;
        width: 100%;
        padding: 10px;
        margin: 0;
        list-style: none;
        text-align: center;
    }
    
    .projects-content .slick-dots li.slick-active button {
        background-color: var(--theme-background);
    }
    
    .projects-content .slick-dots {
        margin-top: 50px;
    }
    
    .projects-content .slick-dots button {
        display: block;
        width: 1rem;
        height: 1rem;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: rgba(242, 48, 5, .5);
        text-indent: -9999px;
    }
    
    .projects-content .slick-slide {
        margin: 0 10px;
    }
    
    .projects-content .card-body {
        position: relative;
        bottom: 50px;
        border-radius: 7px;
        color: var(--color-w)
    }
    
    .projects-content .card-body:hover {
        background-color: var(--color-w);
        color: var(--color-b);
        transition: .7s;
        cursor: pointer;
    }
    
    .projects-content .overlay-projects {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgba(0, 86, 179, .7);
    }
    
    .projects-content .card:hover .overlay-projects {
        opacity: 1;
        cursor: pointer;
    }
    
    .projects-content .text-projects {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .projects-content .text-projects a {
        color: var(--color-w);
    }
    
    .projects-content .text-projects a:hover {
        color: var(--theme-background);
    }
    
    .projects-content .modal-dialog {
        max-width: 70%;
    }
    
    .r-btn {
        display: flex;
        justify-content: right;
        align-items: center;
    }
    
    @media only screen and (max-width: 1220px) {
        .projects-content .modal-dialog {
            max-width: 90%;
        }
    }
    
    @media only screen and (max-width: 992px) {
        .projects-content .modal-dialog {
            max-width: 50%;
        }
    }
    
    @media only screen and (max-width: 600px) {
        .projects-content .modal-dialog {
            margin: auto;
            max-width: 80%;
        }
    }
    /* projects-section-end */
    /* testimonial-section-start */
    
    .testimonial {
        min-height: 60vh;
        width: 100%;
        background-color: #ececec;
    }
    
    .testimonial-content {
        min-height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .testimonial img {
        height: 100px;
        width: 100px;
    }
    
    .testimonial-content .slick-slide {
        margin: 0 10px;
    }
    
    .testimonial-content .slick-dots {
        position: relative;
        bottom: -20px;
        display: block;
        width: 100%;
        padding: 10px;
        margin: 0;
        list-style: none;
        text-align: center;
    }
    
    .autoplay-testimonial {
        position: relative;
        padding: 60px;
    }
    
    .autoplay-testimonial .prev_arrow {
        position: absolute;
        top: 0;
        left: 86%;
        color: var(--color-w);
        height: 50px;
        width: 50px;
        background-color: var(--theme-background);
        border-radius: 10%;
        text-align: center;
        line-height: 50px;
        display: inline-block;
        cursor: pointer;
    }
    
    .autoplay-testimonial .next_arrow {
        position: absolute;
        top: 0;
        right: 5.5%;
        color: var(--color-w);
        height: 50px;
        width: 50px;
        background-color: var(--theme-background);
        border-radius: 10%;
        text-align: center;
        line-height: 50px;
        display: inline-block;
        cursor: pointer;
    }
    
    @media only screen and (max-width: 1280px) {
        .autoplay-testimonial .prev_arrow {
            position: absolute;
            top: 0;
            left: 82%;
            color: var(--color-w);
            height: 50px;
            width: 50px;
            background-color: var(--theme-background);
            border-radius: 10%;
            text-align: center;
            line-height: 50px;
            display: inline-block;
            cursor: pointer;
        }
        .autoplay-testimonial .next_arrow {
            position: absolute;
            top: 0;
            right: 8%;
            color: var(--color-w);
            height: 50px;
            width: 50px;
            background-color: var(--theme-background);
            border-radius: 10%;
            text-align: center;
            line-height: 50px;
            display: inline-block;
            cursor: pointer;
        }
    }
    
    @media only screen and (max-width: 1024px) {
        .autoplay-testimonial .prev_arrow {
            position: absolute;
            top: 0;
            left: 80%;
            color: var(--color-w);
            height: 50px;
            width: 50px;
            background-color: var(--theme-background);
            border-radius: 10%;
            text-align: center;
            line-height: 50px;
            display: inline-block;
            cursor: pointer;
        }
        .autoplay-testimonial .next_arrow {
            position: absolute;
            top: 0;
            right: 8%;
            color: var(--color-w);
            height: 50px;
            width: 50px;
            background-color: var(--theme-background);
            border-radius: 10%;
            text-align: center;
            line-height: 50px;
            display: inline-block;
            cursor: pointer;
        }
    }
    
    @media only screen and (max-width: 992px) {
        .autoplay-testimonial .prev_arrow {
            position: absolute;
            top: 0;
            left: 73%;
            color: var(--color-w);
            height: 50px;
            width: 50px;
            background-color: var(--theme-background);
            border-radius: 10%;
            text-align: center;
            line-height: 50px;
            display: inline-block;
            cursor: pointer;
        }
        .autoplay-testimonial .next_arrow {
            position: absolute;
            top: 0;
            right: 11%;
            color: var(--color-w);
            height: 50px;
            width: 50px;
            background-color: var(--theme-background);
            border-radius: 10%;
            text-align: center;
            line-height: 50px;
            display: inline-block;
            cursor: pointer;
        }
    }
    
    @media only screen and (max-width: 600px) {
        .autoplay-testimonial .prev_arrow {
            position: absolute;
            top: 0;
            left: 50%;
            color: var(--color-w);
            height: 50px;
            width: 50px;
            background-color: var(--theme-background);
            border-radius: 10%;
            text-align: center;
            line-height: 50px;
            display: inline-block;
            cursor: pointer;
        }
        .autoplay-testimonial .next_arrow {
            position: absolute;
            top: 0;
            right: 21%;
            color: var(--color-w);
            height: 50px;
            width: 50px;
            background-color: var(--theme-background);
            border-radius: 10%;
            text-align: center;
            line-height: 50px;
            display: inline-block;
            cursor: pointer;
        }
    }
    
    .testimonial-content .card {
        background-color: transparent;
        border: 0;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, .8);
    }
    
    .testimonial-content .card:hover {
        background-color: var(--color-w);
        cursor: pointer;
    }
    
    .testimonial-content .card p {
        font-style: italic;
    }
    /* testimonial-section-start */
    /* blog-section-start */
    
    .blog {
        min-height: 60vh;
        width: 100%;
    }
    
    .blog-content {
        min-height: 60vh;
    }
    
    .blog-content .card-footer:hover {
        color: var(--theme-background-two);
        cursor: pointer;
    }
    /* blog-section-end */
    /* contact-section-start */
    
    .contact {
        min-height: 60vh;
        width: 100%;
    }
    
    .contact-content {
        min-height: 60vh;
    }
    
    .icon-align {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .social-icons {
        margin-bottom: 9px;
    }
    
    @media only screen and (max-width: 992px) {
        .social-icons {
            margin-bottom: 0px;
        }
    }
    
    @media only screen and (max-width: 600px) {
        .icon-align {
            display: flex;
            justify-content: left;
            align-items: left;
            padding-left: 15px;
            padding-top: 5px;
        }
    }
    /* contact-section-end */
    /* footer-section-start */
    
    .footer {
        min-height: 35vh;
        width: 100%;
    }
    
    .footer-content {
        min-height: 35vh;
        display: grid;
        place-items: center;
        background-color: #ececec;
    }
    
    .footer-content .left-content p a {
        color: var(--theme-background);
    }
    
    .footer-content .left-content p a:hover {
        color: var(--theme-background-two);
    }
    
    .footer-content .nav-link {
        overflow: hidden;
        display: inline-block;
        color: var(--color-b);
    }
    
    .footer-content .nav-link:hover {
        color: var(--theme-background);
        display: inline-block;
    }
    
    .copy {
        background: #ececec;
        border: 0;
        border-top: 1px solid #ececec;
        border-style: dashed;
    }
    
    .footer-content .brand:hover {
        color: var(--theme-background-two);
    }
    /* footer-section-end */